<!-- home.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/estilos_cadeiras.css' %}">


{% block main %}
<h1>Contabilidade</h1>

<div class="container">
  <div>
    <h2>Apresentação</h2>
    <p>A Unidade Curricular de Contabilidade precede e está interligada com a Unidade Curricular em Gestão
        Financeira em termos de conteúdo programático e habilita os estudantes com conhecimentos técnicos
        basilares necessários para a fase seguinte do percurso académico com sucesso. Ficam qualificados
        com uma importante ferramenta de trabalho indispensável e de imediata aplicação na vida empresarial,
        dentro da área de gestão.</p>
  </div>

  <div>
    <h2>Conteúdos Programáticos</h2>
    <p>
      <p>  1. INTRODUÇÃO
            A Contabilidade como Sistema de Informação. Objetivos da Contabilidade Geral /Financeira.</p>
            <p> 2. CONCEITOS FUNDAMENTAIS
            O Património. Conceitos de Ativo, Passivo e Capitais Próprios. O Inventário.</p>
            <p>  3. O MÉTODO CONTABILÍSTICO:<br>
            A Dinâmica Patrimonial. Factos Patrimoniais.
            A formação dos Resultados. Ligação com Balanço e Demonstração de Resultados Líquidos.
            As Contas. Dispositivos da conta e Regras de movimentação.
            Os Lançamentos. Fases do processo escritural. </p>
            <p> 4. SNC - SISTEMA DE NORMALIZAÇÃO CONTABILÍSTICA </p>
      
        
        6. ELABORAÇÃO DAS DEMONSTRAÇÕES FINANCEIRAS (Simplificadas)</p>
  </div>

  <div>
    <h2>Objetivos</h2>
    <p>Visa transmitir conhecimentos técnicos contabilísticos e capacidade para interpretar Mapas de
        Demonstrações Financeiras, necessárias numa gestão moderna e participativa que integra todos os
        gestores funcionais, entre os quais, o gestor informático, como ferramenta de trabalho, face aos desafios
        de um mercado competitivo e global.
       </p>
  </div>

  <div>
    <h2>Viajar fora do concelho</h2>
    <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
  </div>

  <div>
    <h2>Viajar com indicação</h2>
    <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
  </div>
<div>
    <h2>Viajante com concelho</h2>
    <p>Um excelente conselho para viajante que é excelente é o conselho para viajar que leva de forma excelente fora do concelho.</p>
  </div>

 
</div>



{% endblock %}