
{% extends 'portfolio/layout.html' %}



{% block content %}
	<h3>Licenciatura</h3>
   
   <p class="titulo">Projetos</p>
   <div class="main_postal">
     <div id="postal">
   
      <p class="titulo">{{projeto_PRJ1_projeto}}</p>
      <p class="discricao">{{projeto_PRJ1_descricao}}</p>
      <p class="cadeira">{{projeto_PRJ1_cadeira}}</p>
      <p class="ano">Ano de realização do projeto: {{projeto_PRJ1_ano_frequentado}}</p>
      <p class="aluno">Melkisidek Pedro Bequengue</p>
      <p class="linkedin"><a href="#">Linkedin</a></p>
     </div>
   </div>

   
{% endblock content %}