<!-- home.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
   .checked {
   color: orange;
   }
</style>
{% extends 'portfolio/layout.html' %}
{% block main %}
<h3>Plano de Estudos</h3>


<div class="table-responsive">
<table class="table">
   <tr>
      <th>1.º Ano/ Tronco comum</th>
      <th>Semestre</th>
      <th>ECTS</th>
      <th>Ano letivo</th>
      <th>Topicos abordados</th>
      <th>Avaliações</th>
      <th>Professor</th>
      <th>Projectos</th>
   </tr>
   <tr>
      <td><a href="cadeiras" target="_blank">Contabilidade</a></td>
      <td>1º Semestre&nbsp;&nbsp;</td>
      <td>6&nbsp;&nbsp;</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Cantabilidade Geral, Balaços&nbsp;&nbsp;</td>
      <td>    

         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
      </td>
      <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
      <td>Demonstração de resultado&nbsp;&nbsp;</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/fundamentos-de-programacao/ULHT12-7337" target="_blank">Fundamentos de Programação</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/fundamentos-de-sistemas-de-informacao/ULHT12-8334" target="_blank">Fundamentos de Sistemas de Informação</a></td>
      <td>1º Semestre</td>
      <td>7</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/matematica-i/ULHT12-1" target="_blank">Matemática I</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/teoria-e-pratica-de-marketing/ULHT12-7432" target="_blank">Teoria e Prática de Marketing</a></td>
      <td>1º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/algoritmia-e-estruturas-de-dados/ULHT12-13397" target="_blank">Algoritmia e Estruturas de Dados</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/calculo-financeiro/ULHT12-154" target="_blank">Cálculo Financeiro</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/competencias-comportamentais/ULHT12-17267" target="_blank">Competências Comportamentais</a></td>
      <td>2º Semestre</td>
      <td>4</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/linguagens-de-programacao-i/ULHT12-498" target="_blank">Linguagens de Programação I</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
 
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/matematica-ii/ULHT12-505" target="_blank">Matemática II</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/metricas-empresariais/ULHT12-15429" target="_blank">Métricas Empresariais</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <th>2.º Ano/ Tronco comum</th>
      <th>Semestre</th>
      <th>ECTS</th>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/bases-de-dados/ULHT12-1792" target="_blank">Bases de Dados</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/instrumentos-de-gestao/ULHT12-7340" target="_blank">Instrumentos de Gestão</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/investigacao-operacional/ULHT12-81" target="_blank">Investigação Operacional</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/linguagens-de-programacao-ii/ULHT12-898" target="_blank">Linguagens de Programação II</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/sistemas-operativos/ULHT12-6305" target="_blank">Sistemas Operativos</a></td>
      <td>1º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/engenharia-de-requisitos-e-testes/ULHT12-22512" target="_blank">Engenharia de Requisitos e Testes</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/gestao-financeira/ULHT12-324" target="_blank">Gestão Financeira</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/programacao-web/ULHT12-11195" target="_blank">Programação Web</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/redes-de-computadores/ULHT12-1793" target="_blank">Redes de Computadores</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/sistemas-de-suporte-a-decisao/ULHT12-7303" target="_blank">Sistemas de Suporte à Decisão</a></td>
      <td>2º Semestre</td>
      <td>6</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <th>3.º Ano/ Tronco comum</th>
      <th>Semestre</th>
      <th>ECTS</th>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/trabalho-final-de-curso/ULHT12-5140" target="_blank">Trabalho Final de Curso</a></td>
      <td>Anual</td>
      <td>20</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/data-mining/ULHT12-15430" target="_blank">Data Mining</a></td>
      <td>1º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/engenharia-de-software/ULHT12-7341" target="_blank">Engenharia de Software</a></td>
      <td>1º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/interacao-humano-maquina/ULHT12-11047" target="_blank">Interação Humano-Máquina</a></td>
      <td>1º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/sistemas-moveis-empresariais/ULHT12-7435" target="_blank">Sistemas Móveis Empresariais</a></td>
      <td>1º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/auditoria-de-sistemas-de-informacao/ULHT12-7437" target="_blank">Auditoria de Sistemas de Informação</a></td>
      <td>2º Semestre</td>
      <td>4</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/controlo-de-gestao/ULHT12-5797" target="_blank">Controlo de Gestão</a></td>
      <td>2º Semestre</td>
      <td>3</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/inteligencia-artificial/ULHT12-2129" target="_blank">Inteligência Artificial</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/motivacao-e-lideranca/ULHT12-7434" target="_blank">Motivação e Liderança</a></td>
      <td>2º Semestre</td>
      <td>3</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
   <tr>
      <td><a href="/licenciaturas/informatica-de-gestao/sistemas-de-informacao-na-nuvem/ULHT12-22514" target="_blank">Sistemas de Informação na Nuvem</a></td>
      <td>2º Semestre</td>
      <td>5</td>
      <td>2020/2021&nbsp;&nbsp;</td>
      <td>Fundamento de programação em Java.&nbsp;&nbsp;</td>
      <td>    

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
     </td>
     <td><a href="https://www.ulusofona.pt/docentes/brena-kelly-sousa-lima">Kelly Sousa Lima</a>&nbsp;<a href="https://www.linkedin.com/school/universidade-lusofona-de-humanidades-e-tecnologias/">  <i class="bi-linkedin" style="color:blue"></i></a></td>
     <td>Jogo do galo em Java.</td>
   </tr>
</table>
{% endblock %}