{% extends 'portfolio/layout.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/estilos_projeto.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">



{% block content %}

<div class="container">

    <p class="titulo">Lista dos TFCS</p>

    {% if user.is_authenticated %}
<div>
    <table align="center">
        <tr>
            <th style="border:2px solid black;">TFC</th>
            <th style="border:2px solid black;">Descrição</th>
            <th style="border:2px solid black;">Licenciatura</th>
            <th style="border:2px solid black;">Aluno</th>
            <th style="border:2px solid black;">Orientador</th>
        
        </tr>
    {% for tfc in tfcs %}
       
    
    <tr>
        <td style="border:2px solid black;">{{ tfc.tfc_titulo}}</td>
        <td style="border:2px solid black;">{{ tfc.tfc_descricao}}</td>
        <td style="border:2px solid black;">{{ tfc.tfc_licenciatura}}</td>
        <td style="border:2px solid black;">{{ tfc.tfc_alunos}}</td>
        <td style="border:2px solid black;">{{ tfc.orientador}}</td>
    </tr >
              
                

          
        
   {% endfor %}

</table>

</div>

        <a href="{% url 'portfolio:novo_tfc'%}" class="btn btn-success btn-block">+ Novo post</a>


    {% else%}

    <table align="center" style="border:2px solid black;">
        <tr>
            <th style="border:2px solid black;">TFC</th>
            <th style="border:2px solid black;">Descrição</th>
            <th style="border:2px solid black;">Licenciatura</th>
            <th style="border:2px solid black;">Aluno</th>
            <th style="border:2px solid black;">Orientador</th>
        
        </tr>

         {% for tfc in tfcs %}

        <tr>
            <td style="border:2px solid black;">{{ tfc.tfc_titulo}}</td>
            <td style="border:2px solid black;">{{ tfc.tfc_descricao}}</td>
            <td style="border:2px solid black;">{{ tfc.tfc_licenciatura}}</td>
            <td style="border:2px solid black;">{{ tfc.tfc_alunos}}</td>
            <td style="border:2px solid black;">{{ tfc.orientador}}</td>
        </tr >
               
        {% endfor %}
         
    </table>
      
{% endif %}

{% endblock %}

</div>


