
{%  block content %}



<form action="" method="post">
 
  {% csrf_token %}

  <form>
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" name="username" aria-describedby="username">
     
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input type="password" class="form-control" name="password">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</form>

{% endblock %}